.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
}

.save-button {
  border-radius: 8px;
  font-weight: 600;
  width: 33%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.form-group input {
  border: 2px solid #1976d2; /* Angular Material primary default */
  border-radius: 4px;
  outline: none;
}

.theme-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // Small gap between cards
  width: 100%;
  padding: 1rem; // Padding around the container
  box-sizing: border-box;
}

.theme-card-wrapper {
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
  flex-grow: 0;  /* Prevent growing */
  flex-shrink: 0; /* Prevent shrinking */
}

@media (max-width: 767px) {
  .theme-card-wrapper {
    width: 100%;  /* Full width on small screens */
  }
}

.subscriptions-title {
  text-align: center;
  font-size: 2rem;         // Large text
  font-weight: bold;       // Bold
  margin: 2rem 0 1rem;     // Spacing above and below
}



