<div class="article-actions">
  <button
    mat-flat-button
    color="primary"
    class="create-button"
    [routerLink]="['/articles/new']">
    Créer un article
  </button>
  <button mat-stroked-button class="filter-button" (click)="toggleFilter()">
    Trier par
    <mat-icon>{{ isFilterOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
  </button>
</div>

<div class="article-list">
  <div class="article-card-wrapper" *ngFor="let article of articles">
    <app-article-card
      [id]="article.id"
      [title]="article.title"
      [date]="article.createdAt"
      [author]="article.author.name"
      [content]="article.content">
    </app-article-card>
  </div>
</div>
