<app-navbar></app-navbar>

<div class="article-actions">
  <button mat-flat-button color="primary" class="create-button">Créer un article</button>
  <button mat-stroked-button class="filter-button" (click)="toggleFilter()">
    Trier par
    <mat-icon>{{ isFilterOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
  </button>
</div>

<app-article-card
  *ngFor="let article of articles"
  [title]="article.title"
  [date]="article.createdAt"
  [author]="article.author.name"
  [content]="article.content">
</app-article-card>
