.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid black; /* Black border */
  border-radius: 4px;
  outline: none;
}

input:focus {
  border-color: black; /* Keep black border on focus */
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.error {
  color: #d32f2f; /* Material Design error color */
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
}

.save-button {
  border-radius: 8px;
  font-weight: 600;
  width: 33%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
