.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.center button {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 1px solid black;
  min-width: 120px;
}


.buttons-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

